.search {
  width: fit-content;
  border: 1px solid var(--text-secondary);
  background-color: var(--table-default);
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  position: relative;

  input {
    color: white;
    margin-left: 0.55rem;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}
